<main>
    <h1>Password strength checker</h1>
        <form [formGroup]="FormGroup" >
            <app-custom-input 
            [formControlName]="'password'"
            (input)="checkPasswordStrength()"
            ></app-custom-input>
        </form>
    <div class="container">
        <div [ngClass]="{'gray': strength === 'empty', 'red': strength === 'weak' || strength === 'easy', 'yellow': strength === 'medium', 'green': strength === 'strong'}"></div>
        <div [ngClass]="{'gray': strength === 'empty'|| strength === 'easy', 'red': strength === 'weak', 'yellow': strength === 'medium', 'green': strength === 'strong'}"></div>
        <div [ngClass]="{'gray': strength === 'empty'|| strength === 'easy'|| strength === 'medium', 'red': strength === 'weak',  'green': strength === 'strong'}"></div>
    </div>
  </main>
 