.container div{
    width: 100px;
    height: 20px; 
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container{
    display: flex;
    gap: 5px;

}
.gray{
    background-color: gray;
}
.red{background-color: red;}
.yellow{background-color: yellow;}
.green{background-color: green;}